{# templates/lucky/number.html.twig #}
<div class='container d-flex'>
<div class="col-12 col-lg-6" style="min-height:50vh; background-color:cyan">
<h1>Your lucky number is {{ number }}</h1>
</div>
<div class="col-12 col-lg-6">
<p>{{content}}</p>
</div>
</div>