{% extends 'base.html.twig' %}

{% block title %}Hello !!!{% endblock %}

{% block body %}
<div class="row justify-content-center align-items-center" style="height:100vh">
<h1>Bienvenue sur mon portfolio</h1>
</div>
{% endblock %}
