{% extends 'base.html.twig' %}
{% block title %}WTF Symfony!{% endblock %}
{% block body %}
<h1>Hello {{ user_first_name }}!</h1>
<p>You have {{ notifications|length }} new notifications.</p>
<ul>
    {% for notification in notifications %}
        <li>{{ notification }}</li>
    {% endfor %}
</ul>

{% endblock %}